{{>navbar}}

<div class="form-library d-flex justify-content-center align-content-center">

<form action="/search" method="GET">
  <input type="text" name="search"> <button type="submit"> enviar</button>
</form>
</div>
            
<div class="div-library container-fluid">
  <div class="row d-flex justify-content-center ">

  <div class="d-flex flex-wrap col-10">
{{#each colocarocerto}}
<div class=" col-4">
  <div class="card card-library" ;>

    <img class="library-imgs card-img-top" src="{{thumbnail}}" alt="Book image">
    <p><span class="bold">Title:</span> {{title}}</p>
    <p><span class="bold">Authors:</span> {{authors}}</p>
    <p><span class="bold">Description:</span> {{description}}</p>
     <form action="/add-book/{{id}}" method="POST">
     <button type="submit">Add</button>
     </form>   
        <hr>
  </div>
</div>
{{/each}}
  </div>
</div>
  </div>


  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>