{{>navbar}}

<div class="div-profile container-fluid">
        <div class=" div-profile-row row">
            <div class="d-flex flex-column align-content-center justify-content-center flex-wrap div-profile-left col">
               <section class=" align-self-center rounded-photo-frame">

                   <img class="profile-photo" src="images/pexels-adrienne-andersen-2552127.jpg" alt="">
                </section>
               
                <section class="name-section-profile">
                    <h4>{{userInSession.username}}</h4>
                </section>
                <section class=" section-score-btn align-self-center ">
                    <p class="p-score">Sua pontuação:  pontos</p>
                </section>
                <span ><hr class="profile-hr"></span>
                <section class="section-seus-livros align-self-center text-center">
                    <h4>Seus livros:</h4>
                 
                        <p ><a  href="">Livros solicitados</a></p>
                        <p> <a href="">Livros procurados</a></p>
                        <p> <a href="">Livros disponibilizados</a> </p>
                   
                </section>
                <span ><hr class="profile-hr"></span>
                <button class="btn-edit-profile">Editar perfil</button>
            </div>
            <div class="col-9">


            <div>
              <h2>Seus Livros Disponibilizados:</h2>
              <div class="d-flex flex-wrap col-10">
                {{#each UserBbook}}
              <div class=" col-4">
                <div class="card card-library">
                  <img class="library-imgs card-img-top" src="{{thumbnail}}" alt="Book image">
                    <p><span class="bold">Title:</span> {{title}}</p>
                    <p><span class="bold">Authors:</span> {{authors}}</p>
                    {{!-- <p><span class="bold">Description:</span> {{description}}</p> --}}
                      <form action="/add-book/{{id}}" method="POST">
                        <button type="submit">Add</button>
                      </form>   
                                  <hr>
                  </div>
              </div>
                            {{/each}}
              </div>
            </div>
            </div>
        </div>
  </div>

