{{>navbar}}

<div class="div-profile container-fluid">
        <div class=" div-profile-row row">
            <div class="d-flex flex-column align-content-center justify-content-center flex-wrap div-profile-left col">
               <section class=" align-self-center rounded-photo-frame">

                   <img class="profile-photo" src="images/pexels-adrienne-andersen-2552127.jpg" alt="">
                </section>
               
                <section class="name-section-profile">
                    <h4>{{userInSession.username}}</h4>
                </section>
                <section class=" section-score-btn align-self-center ">
                    <p class="p-score">Sua pontuação:  pontos</p>
                </section>
                <span ><hr class="profile-hr"></span>
                <section class="section-seus-livros align-self-center text-center">
                    <h4>Seus livros:</h4>
                 
                        <p ><a  href="">Livros solicitados</a></p>
                        <p> <a href="./wishlist">Livros procurados</a></p>
                        <p> <a href="./available">Livros disponibilizados</a> </p>

                   
                </section>
                <span ><hr class="profile-hr"></span>
                <form action="/edit-user" method="GET">
                <button type="submit" class="btn-edit-profile">Editar perfil</button>
                </form>
            </div>
            <div class="col-9">

              <h2 class="h2-profile">Seus Livros Disponibilizados:</h2>
            <div class=" div-card-profile col-12 justify-content-between d-flex flex-wrap  ">
             {{#each userBooks}}
                <div class=" d-flex card-profile">

            <img class="card-profile-imgs" src="{{thumbnail}}" alt="Book image">
                  <div class="flex-column">

                    <p class="p-card-profile"><span class="bold text-title-card-profile">{{title}}</span> <br> {{authors}} <br> <i>Cia das letras, 2013  </i></p>
                    <p class="p-card-profile"></p>
                  </div>
                </div>
                    {{/each}}
            </div>
            {{!-- <div>
              <div class="d-flex flex-wrap col-10">
                {{#each userBooks}}
              <div class=" col-5">
                <div class="card-library">
                  <img class="library-imgs" src="{{thumbnail}}" alt="Book image">
                  
                    <p><span class="bold">Title:</span> {{title}}</p>
                    <p><span class="bold">Authors:</span> {{authors}}</p>

                  </div>
                  </div>
                    
                      {{!-- <form action="/add-book/{{id}}" method="POST">
                        <button type="submit">Add</button>
                      </form>    --}}
                                  {{!-- <hr>
              </div> --}}
                            {{!-- {{/each}} --}}
              {{!-- </div>  --}}
            </div>
            </div>
        </div>
  </div>

